
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
}
body {
	margin: 2px;
}

a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;
	vertical-align: middle;
}

.mePopup-td {
	width: 50%;
	padding:0px 6px;
	vertical-align: top;
}

.mePopup-td-wide {
	width: 100%;
	padding: 4px 6px;
	font-weight: normal;
	line-height: 1;
}

.mePopupDiv {
	background: #FFFFFF; 
	border-width: 2px; 
	border-style: outset; 
	border-color: #E54944; 
	width:440px; 
	padding: 2px 6px 6px 6px;
}

.meTitle {
	font-family: "CartoGothicStdBold",Helvetica,"Helvetica Neue",Arial,sans serif;
	font-weight: bold;
	color: #5b5b5a;
	margin:4px 0px;
	padding:8px 0px 0px 0px;
	font-size: 16px;
	height: 26px;
}

.meButton {
	background: #FFF;
	border: 2px solid #C5C5C5 !important;
	border-radius: 3px;
	padding: 3px;
	cursor: pointer;
	text-align: center;
	margin: 2px 0px;
	width: 100%;
	color: #000;
}

.meButton:hover {
	background: #D5D7D9 !important;
	border: 2px solid #5B5B5A !important;
}

.simvo-text {
	font-size: 14px;
	line-height: 1.3;
	margin: 8px 0px;
}

.meTitleSimvo {
	font-family: "CartoGothicStdBold",Helvetica,"Helvetica Neue",Arial,sans serif;
	font-weight: bold;
	color: #5b5b5a;
	margin:4px 0px;
	padding:0px;
}

#simvo-hide-btn {
	width: 24px;
	height:	 24px;
	padding: 0px;
	margin:	 0px;
	float: right ;
	margin-bottom: 10px;
}

#simvo-show-btn {
	width:	408px;
}



.switch {
	position: relative;
	width: 34px;
	height: 18px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #E54944;
}

input:focus + .slider {
	box-shadow: 0 0 1px #E54944;
}

input:checked + .slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.versionWrapper {
	user-select: none;
	text-align: center; 
	padding-top: 8px;
	padding-bottom: 4px;
	font-size: 14px;
}

.versionWrapper div, label {
	font-family: "Segoe UI", Tahoma, sans-serif;
	user-select: none;
	display: inline-block;
	vertical-align:middle;
	padding: 0px 6px;
}

#version {
	text-align: center;
	color: #000;
}

#enabledLabel {
	width: 70px;
	padding-left: 6px;
	text-align: left; 
}
