.mePopupDiv {
    background: #FFFFFF; 
    border-width: 2px; 
    border-style: outset; 
    border-color: #E54944; 
    width:220px; 
    padding:10px 12px;"
}
.meTitle {
    font-family: "CartoGothicStdBold",Helvetica,"Helvetica Neue",Arial,sans serif;
    font-weight: bold;
    color: #5b5b5a;
    margin:16px 0px 6px 0px;
    font-size: 16px;
}
.meButton {
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    text-align: center;
    margin: 2px 0px;
    border: 1px solid #707070;
    width: 100%;
    color: #000;
    background-color: #C5C5C5;
}
.meButton:hover {
    color: #000;
    border: 1px solid #000;
}
.docuumButton:hover {
    background: -webkit-linear-gradient(left, #56AFE5, #C5C5C5);
}
.vsbButton:hover {
    background: -webkit-linear-gradient(left, #7173F6, #C5C5C5);
}
.mcgillButton:hover {
    background: -webkit-linear-gradient(left, #E54944, #C5C5C5);
}
.rmpButton:hover {
    background: -webkit-linear-gradient(left, #B2CF36, #C5C5C5);
}
.amazonButton:hover {
    background: -webkit-linear-gradient(left, #F8991D, #C5C5C5);
}
