
#mcen-class-averages-download {
	background: #C5C5C5 !important;
	width: 68% !important;
	height: 32px !important;
	margin: 4px 0px !important;
	font-family: CartoGothicStdBook, Helvetica, "Helvetica Neue", Arial, "sans serif" !important;
	font-size: 14.4px !important;
	border: 1px solid #5B5B5A;
	-webkit-box-shadow : none !important;
	box-shadow: none !important;
}
