
.meta {
	margin: 10px 0px 20px 0px !important;
}

.catalog-notes p {
	margin-bottom: 8px !important;
}

.mcen-container {
	margin-bottom: 20px !important;
}

#mcen-class-averages-section {
	padding: 10px 0px !important;
}

#mcen-class-averages-content {
	display: flex !important;
}

#mcen-class-averages-content-left {
	box-sizing: border-box;
	width: 72%;
	line-height: 1.5em;
	padding-left: 21px;
}

#mcen-class-averages-content-left p{
	margin-bottom: 4px !important;
}

#mcen-class-averages-thanks {
	text-align: center;
}

#mcen-class-averages-content-right {
	box-sizing: border-box !important;
	width: 28% !important;
}

#mcen-class-averages-content-right-table {
	padding: 5px 8px !important;
	border: 1px solid #C5C5C5 !important;
	border-radius: 4px;
}

.mcen-class-average-row {
	padding-bottom: .2em !important;
	margin-bottom: .2em !important;
	border-bottom: 1px solid #E1E1D9 !important;
	font-family: CartoGothicStdBook, Helvetica, "Helvetica Neue", Arial, "sans serif" !important;
}

#mcen-class-average-row0 {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	border-bottom: 0px !important;
}

.mcen-class-average-term {
	box-sizing: border-box;
	display:inline-block;
	padding-left: 18px;
	width: 80%;
}
.mcen-class-average-term-nonactive {
	box-sizing: border-box;
	display:inline-block;
	padding-left: 4px;
	width: 80%;
}
.mcen-class-average-val {
	display:inline-block;
}

#mcen-class-averages-button-div {
	text-align: center;
}
.mcen-class-averages-button {
	box-sizing: border-box;
	background: #FFF url(https://i.imgur.com/N0P89lL.png) no-repeat 3% 30%/24px 24px;
	border: 2px solid #C5C5C5 !important;
	width: 100%;
	margin: 4px 0px;
	padding: 6px 6px 6px 40px !important;
	font-family: CartoGothicStdBook, Helvetica, "Helvetica Neue", Arial, "sans serif";
	font-size: 14.4px;
	-webkit-box-shadow : none;
}
.mcen-class-averages-button:hover {
	background: #D5D7D9 url(https://i.imgur.com/N0P89lL.png) no-repeat 3% 30%/24px 24px;
	border: 2px solid #5B5B5A !important;
}
#mcen-class-averages-submit {
	width: 240px;
	background: #FFF url(https://i.imgur.com/N0P89lL.png) no-repeat 5% 30%/24px 24px;
	padding: 6px 6px 6px 30px !important;
}
#mcen-class-averages-submit:hover {
	background: #D5D7D9 url(https://i.imgur.com/N0P89lL.png) no-repeat 5% 30%/24px 24px;
}
.mcen-class-averages-scroll {
	box-sizing: border-box;
	display: inline-block;
	width: 240px;
	max-height: 158px; 
	text-align: left;
	overflow: auto;
	padding: 6px 18px !important;
	margin-top: 10px;
	border: 1px solid #C5C5C5 !important;
	border-radius: 4px;
	font-family: "Lucida Console", Monaco, monospace;
}


.catalog-notes {
	margin-bottom: 14.4px !important;
}

.mcen-contentSeparator {
	width: 100% !important;
	display: flex !important;
	border-top: solid 3px #5B5B5A !important;
	color: #C5C5C5 !important;
	font-family: "CartoGothicStdBook",Helvetica,"Helvetica Neue",Arial,sans serif !important;
	line-height: 1.3 !important;
}

.mcen-main-column .mcen-contentSeparator {
	margin-bottom: 12px;
}

.mcen-contentSeparatorSpaceFront {
	width: 100%;
	border-radius: 0px 4px 0px 0px;
	background-color: #FFFFFF;
}

.mcen-main-column .mcen-contentSeparatorSpaceFront {
	border-radius: 4px 0px 0px 0px;
}

.mcen-contentSeparatorSpaceBack {
	box-sizing: border-box;
	width: 72%;
	display: flex;
	background-color: #5B5B5B;
}

.mcen-contentSeparatorLabel {
	box-sizing: border-box;
	width: 28%;
	text-align: center;
	margin: 0px;
	padding: 0px 8px 2px 8px;
	background-color: #5B5B5B;
	border-radius: 0px 0px 4px 4px;
	font-size: 14px;
}