
#mcen-sched-download {
	width: 100% !important;
	max-width: 500px;
	padding: 10px 4px 10px 200px !important;
	margin: 10px 0px !important;
	border: 2px solid #5B5B5A;
	border-radius: 8px !important;
	background-repeat: no-repeat !important;
	background-position: 6% 44% !important;
	background-size: 180px 60px !important;
	background-color: #C5C5C5 !important;
	box-shadow: 3px 3px 5px #dddddd !important;
}
