#page-title {
	padding-top: 0px !important;
}

.mcen-profDiv {
	margin: 6px 0px;
}

.mcen-profLink {
	margin-left: 4px !important;
}

.mcen-class-ave-prof-marker {
	margin-left: 4px !important;
	display: none;
}

.mcen-profLinkButton {
	border-radius: 3px;
	background: #FFF !important;
	border: 2px solid #C5C5C5 !important;
	width: 88px !important;
	font-size: 13px !important;
	padding: 3px !important;
	text-align: center;
	margin-right: 3px;
}
.mcen-profLinkButton:hover {
	background: #D5D7D9 !important;
	border: 2px solid #5B5B5A !important;
}

.mcen-profLinkButton.not-active {
	background: #ECEFF1 !important;
	border: 2px solid #ECEFF1 !important;
	color: #C5C5C5 !important;
	cursor: default !important;
}

.mcen-termSection {
	display: inline;
	margin: 0px 10px;
}

.mcen-termDiv {
	display: inline;
}

.mcen-termImg {
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin: 0 6px 4px 10px;
	border: 1px solid #ECEFF1 !important;
}
