
.mcen-main-column{
	max-width: 620px !important;
	float: left !important;
}

#inner-container {
	width: 100% !important;
}

.mcen-sidebar{
	min-width: 280px;
	border: 0px !important;
}

.view-catalog-program{
	padding: 0px 10px !important;
}

.mcen-sidebarLinksBlock {
	margin-bottom: 22px !important;
}

.mcen-sidebarSection {
	margin: 0px 0px 8px 0px !important;
}

.mcen-sidebarSectionTitle {
	margin: 0px !important;
	padding: 5px 0px !important;
	font-size: 1.1em !important;
}
    
.mcen-linkButton {
	background: #C5C5C5 !important;
	width: 100% !important;
	height: 32px !important;
	margin: 4px 0px !important;
	font-family: CartoGothicStdBook, Helvetica, "Helvetica Neue", Arial, "sans serif" !important;
	font-size: 14.4px !important;
	border: 1px solid #5B5B5A !important;
	-webkit-box-shadow : none !important;
	box-shadow: none !important;
}
.mcen-linkButton.mcen-blue:hover {
	background: #ECF3FF !important;
	background: -webkit-linear-gradient(left, #56AFE5, #C5C5C5) !important;
}
.mcen-linkButton.mcen-red:hover {
	background: #ECF3FF !important;
	background: -webkit-linear-gradient(left, #E54944, #C5C5C5) !important;
}
.mcen-linkButton.mcen-white:hover {
	background: #ECF3FF !important;
	background: -webkit-linear-gradient(left, #FFFFFF, #C5C5C5) !important;
}
.mcen-linkButton.mcen-purple:hover {
	background: #ECF3FF !important;
	background: -webkit-linear-gradient(left, #7173F6, #C5C5C5) !important;
}
.mcen-linkButton.not-active {
	background: #ECEFF1 !important;
	border: 1px solid #C5C5C5 !important;
	color: #C5C5C5 !important;
}

.mcen-sidebarRelatedBlock {
	padding: 0px !important;
	min-width: 280px !important;
	border: 1px solid #eee !important;
	margin-bottom: 16px !important;
}

.mcen-sidebarRelatedBlockTitle {
	max-width: 100% !important;
	padding: 12px 10px !important;
	background: #DBDBDB !important;
}
