
.mcen-main-column {
	max-width: 640px !important;
	float: left !important;
	font-family: "CartoGothicStdBook",Helvetica,"Helvetica Neue",Arial,sans serif;
}

.mcen-top-content {
	margin-top: 20px;
}

.breadcrumb {
	padding: 0 0 1em 0 !important;
}
#page-title {
	padding: 0px !important; 	
}
#inner-container {
	width: 100% !important;
}

.mcen-sidebar {
	min-width: 280px;
	border: 0px !important;
	padding-top: 8px;
	font-family: "CartoGothicStdBook",Helvetica,"Helvetica Neue",Arial,sans serif;
}

.view-header {
	font-size: 14px;
}

.view-catalog-program {
	padding: 0px 10px !important;
}

.mcen-sidebarLinksBlock {
	margin-bottom: 22px !important;
}

.mcen-sidebarSection {
	margin: 0px 0px 8px 0px !important;
}

.mcen-sidebarSectionTitle {
	margin: 0px !important;
	padding: 5px 0px 3px 0px !important;
	font-size: 1.1em !important;
}

.mcen-sidebarSectionSeparator {
	width: 100% !important;
	display: flex !important;
	border-top: solid 2px #5B5B5A !important;
	color: #C5C5C5 !important;
	font-family: "CartoGothicStdBook",Helvetica,"Helvetica Neue",Arial,sans serif !important;
	line-height: 1.3 !important;
}

.mcen-sidebarSectionSeparatorLeftFront {
	width: 100%;
	border-radius: 0px 4px 0px 0px;
	background-color: #FFFFFF;
}

.mcen-sidebarSectionSeparatorLeftBack {
	box-sizing: border-box;
	width: 60%;
	display: flex;
	background-color: #5B5B5B;
}

.mcen-sidebarSectionSeparatorRight {
	box-sizing: border-box;
	width: 40%;
	text-align: center;
	margin: 0px;
	padding: 0px 8px 2px 8px;
	background-color: #5B5B5B;
	border-radius: 0px 0px 4px 4px;
	font-size: 14px;
}
	
.mcen-linkButton {
	background: #FFF;
	border: 2px solid #C5C5C5 !important;
	width: 100% !important;
	padding: 5px !important;
	margin: 4px 0px !important;
	font-family: CartoGothicStdBook, Helvetica, "Helvetica Neue", Arial, "sans serif" !important;
	font-size: 14.4px !important;
	-webkit-box-shadow : none !important;
	box-shadow: none !important;
}
.mcen-linkButton:hover {
	background: #D5D7D9 !important;
	border: 2px solid #5B5B5A !important;
}

.mcen-linkButton.mcen-fall {
	background: url(https://www.mcgill.ca/ece/sites/all/modules/mcgill/courses/fall.gif) no-repeat 3% 48% !important ;
}
.mcen-linkButton.mcen-fall:hover {
	background: #D5D7D9 url(https://www.mcgill.ca/ece/sites/all/modules/mcgill/courses/fall.gif) no-repeat 3% 48% !important ;
	border: 2px solid #840000 !important;
}
.mcen-linkButton.mcen-winter {
	background: url(https://www.mcgill.ca/ece/sites/all/modules/mcgill/courses/winter.gif) no-repeat 3% 48% !important ;
}
.mcen-linkButton.mcen-winter:hover {
	background: #D5D7D9 url(https://www.mcgill.ca/ece/sites/all/modules/mcgill/courses/winter.gif) no-repeat 3% 48% !important ;
	border: 2px solid #2B5E94 !important;
}
.mcen-linkButton.mcen-summer {
	background: url(https://www.mcgill.ca/ece/sites/all/modules/mcgill/courses/summer.gif) no-repeat 3% 48% !important ;
}
.mcen-linkButton.mcen-summer:hover {
	background: #D5D7D9 url(https://www.mcgill.ca/ece/sites/all/modules/mcgill/courses/summer.gif) no-repeat 3% 48% !important ;
	border: 2px solid #FF9400 !important;
}

.mcen-linkButton.not-active {
	background: #ECEFF1 !important;
	border: 1px solid #C5C5C5 !important;
	color: #C5C5C5 !important;
}

.mcen-relatedProgramsList {
	padding: 10px !important;
	border: 1px solid #C5C5C5 !important;
	border-radius: 	4px;
	margin: 4px 0px 
}