
#mcen-vsb-registration {
	width: 100% !important;
	padding: 10px 4px 10px 60px !important;
	margin: 10px 0px !important;
	border: 2px solid #5B5B5A;
	border-radius: 8px !important;
	background-repeat: no-repeat !important;
	background-position: 6% 44% !important;
	background-size: 40px 40px !important;
	background-color: #FBF7C9 !important;
	box-shadow: 3px 3px 5px #dddddd !important;
}

.bubble { 
	background-color: #fffeef !important; 
}