
.mcen-yearMenuBarDIV {
	background-color: #444844 !important;
	height: 33px !important;
}

.mcen-yearMenuBarUL {
	height: 33px !important;
}


.mcen-yearMenuItemLI {
	background-color: #444844 !important;
	text-align: center !important;
}
.mcen-yearMenuItemDIV {
	background-color: #444844 !important;
	width: 100% !important;
	height: 33px !important;
}
.mcen-yearMenuItemDIV:hover {
	background-color: #0C0C0C !important;
	border-radius: 6px 6px 0px 0px !important;
}
.mcen-yearMenuItemA {
	width: 70px !important;
	height: 17px !important;
	padding: 6px 13px 10px !important;
	color: #FFFFFF !important;
}


.mcen-yearMenuItemDIV.mcen-yearSelected {
	background-color: #FFFFFF !important;
	border-radius: 6px 6px 0px 0px !important;
}
.mcen-yearMenuItemA.mcen-yearSelected {
	font-weight: bold !important;
}


.mcen-yearMenuItemLI.mcen-yearLeft {
	background-color: #FFFFFF !important;
}
.mcen-yearMenuItemLI.mcen-yearLeft:hover {
	background-color: #444844 !important;
}
.mcen-yearMenuItemDIV.mcen-yearLeft {
	border-radius: 0px 0px 8px 0px !important;
}
.mcen-yearMenuItemDIV.mcen-yearLeft:hover {
	border-radius: 6px 6px 0px 0px !important;
}


.mcen-yearMenuItemLI.mcen-yearRight {
	background-color: #FFFFFF !important;
}
.mcen-yearMenuItemLI.mcen-yearRight:hover {
	background-color: #444844 !important;
}
.mcen-yearMenuItemDIV.mcen-yearRight {
	border-radius: 0px 0px 0px 8px !important;
}
.mcen-yearMenuItemDIV.mcen-yearRight:hover {
	border-radius: 6px 6px 0px 0px !important;
}



.sf-menu,.sf-menu *{
    list-style:none;
    margin:0;
    padding:0;
}
.sf-menu{
    line-height:1.0;
    z-index:497;
}
.sf-menu ul{
    left:0;
    position:absolute;
    top:-99999em;
    width:12em;
}
.sf-menu ul li{
    width:100%;
}
.sf-menu li{
    float:left;
    position:relative;
    z-index:498;
}
.sf-menu a,.sf-menu span.nolink{
    display:block;
    position:relative;
}
